#games {
    grid-area: games;
}

#animanga {
    grid-area: animanga;
}

#cine {
    grid-area: cine;
}

#series {
    grid-area: series;
}

#cats {
    font-size: 25px;

    display: grid;
    grid-template-areas:
        "animanga animanga"
        "games games"
        "cine series";
    grid-gap: 0.75em;
}

.cat {
    padding: 10px;

    background-color: indianred;

    justify-content: center;
}

@media only screen and (orientation: portrait) {
    #cats {
        grid-template-areas:
            "animanga"
            "games"
            "cine"
            "series";
    }
}