#cats {
    font-size: 25px;

    display: grid;
    grid-template-areas:
    "games games"
    "animanga animanga"
    "cine series";
}


.cat {
    padding: 10px;

    background-color: indianred;

    border: 4px solid black;
    border-radius: 0.75em;



}

#games {
    grid-area: games;
}

#animanga {
    grid-area: animanga;
}

#cine {
    grid-area: cine;
}

#series {
    grid-area: series;
}

@media only screen and (orientation: portrait) {
    #cats {
        display: initial;
    }
}