div:not(#cats) {
    border: 4px solid black;
    border-radius: 0.75em;
    padding: 10px;
    text-align: center;
}

div:not(#cats):not(.cat) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cat > div {
    background-color: darkseagreen;
}

/* Estilos para los divs del siguiente nivel */
.cat > div > div {
    background-color: dodgerblue;
}